
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body, p, h2 {
    margin:0;
    padding:0;
}


.one {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* fill viewport */; /* grow with viewport and content */
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/027/755/445/original/flowing-ripple-pattern-silky-background-3d-rendering-video.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  font-size: 25px;
}

.aboutpage{
  /* moves the h1 down */
  text-align: center;               /* full screen */
  color:white;
  font-family: 'Unica One'; 
}

.two{
    margin:0;
    padding-top:20px;
    padding-bottom:50px;
    background-color:rgb(248, 219, 219);
    font-family: 'Unica One';
    color:white;
    font-size: 20px;
}

.three{
    margin:0;
    padding-left:50px;
    padding-right:50px;
    padding-top: 50px;
    padding-bottom: 0px;
}

/*.navbar {
  width: 100%;               
  height: 70px;               
  background-color: #e2abab;  
  display: flex;              
  justify-content: space-between; 
  align-items: center;       
  padding: 0 0px;           
  position: fixed;            
  left: 0;
  z-index: 1000;              
}



.nav-links {
  list-style: none;           
  display: flex;              
  gap: 50px;                  
  padding: 0 25px;   
}

.nav-links a {
  text-decoration: none;      
  color: white;
  font-size: 1rem;
  transition: color 0.3s;     
}

.nav-links a:hover {
  color: #ad7777;           
}
*/
.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50ppx;
  width:50%;
}

.logo {
 height: 50px;
 width: auto;
 padding-top:10px;
}